Django==1.5.1
Flask==0.10.1
Jinja2==2.7.1
MarkupSafe==0.18
PyRSS2Gen==1.0.0
Twisted==12.0.0
Werkzeug==0.9.4
altgraph==0.9
bdist-mpkg==0.4.4
beautifulsoup4==4.2.1
bonjour-py==0.3
eventlet==0.12.1
greenlet==0.4.0
gunicorn==18.0
itsdangerous==0.23
macholib==1.4.2
modulegraph==0.9.1
numpy==1.6.1
pyOpenSSL==0.13
pyparsing==1.5.7
python-dateutil==1.5
txAMQP==0.6.2
uWSGI==1.9.12
vboxapi==1.0
virtualenv==1.9.1
whisper==0.9.10
wsgiref==0.1.2
xattr==0.6.2
zope.interface==3.5.1